<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MSG!! Mega Simple Games</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="logo">MSG!!</h1>
        <h2>Mega Simple Games</h2>
        <div class="button-container">
            <a href="{% url 'new_game' %}" class="btn">New Game</a>
            <button class="btn">Continue</button>
            <button class="btn" id="quit">Quit</button>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            document.getElementById("quit").addEventListener("click", function() {
                if (confirm("Are you sure you want to quit?")) {
                    alert("Thank you for playing!");
                    window.open('', '_self', ''); // 새 창을 연 뒤
                    window.close(); // 닫기
                } else {
                    alert("Continue playing!");
                }
            });
        });
    </script>
</html>
