<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory Game</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'snake_game.css' %}">
    <link rel="stylesheet" href="{% static 'options.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="score">Score<br><span id="currentScore">0000</span></div>
            <div class="title">Flappy</div>
            <div class="high-score">High Score<br><span id="highScore">0000</span></div>
        </div>
        <div class="game-frame">
            <canvas id="gameCanvas" width="800" height="800"></canvas>
        </div>
        <div class="settings-icon" id="settings-icon">
            <img src="{% static 'img/settings.png' %}" alt="Settings">
        </div>
        <div id="game-over" class="game-over">
            <div class="game-over-text">Game Over</div>
        </div>
    </div>

    {% include 'options.html' %}

    
</body>
</html>
