<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select a Game</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'new_game.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="logo">MSG!!</h1>
        <div class="game-option go-back">
            <button class="btn go-back-btn" id="go-back-button">Go Back</button>
        </div>
        <div class="game-option search-container">
            <input type="text" id="game-search" placeholder="Search for a game..." class="search-input">
        </div>
        <div class="game-option">
            <img src="{% static 'img/snake.png' %}" alt="Snake Game">
            <button class="btn retro-btn" id="snake-button">Snake</button>
        </div>
        <div class="game-option">
            <img src="{% static 'img/tictactoe.png' %}" alt="Tic Tac Toe Game">
            <button class="btn retro-btn" id="tictactoe-button">Tic Tac Toe</button>
        </div>
        <div class="game-option">
            <img src="{% static 'img/typing.png' %}" alt="Typing Game">
            <button class="btn retro-btn" id="typing-button">Typing</button>
        </div>
        <div class="game-option">
            <img src="{% static 'img/flappy.png' %}" alt="flappy Game">
            <button class="btn retro-btn" id="flappy-button">Flappy</button>
        </div>
        <div class="game-option">
            <img src="{% static 'img/connect.png' %}" alt="Connect Game">
            <button class="btn retro-btn" id="connect-button">Connect</button>
        </div>
        {% comment %} <div class="game-option">
            <img src="{% static 'img/pacman.png' %}" alt="Pacman Game">
            <button class="btn retro-btn" id="pacman-button">Pacman</button>
        </div> {% endcomment %}
    </div>

    <script>
        $(document).ready(function() {
            $('#snake-button').click(function() {
                window.location.href = "{% url 'snake_game_view' %}";
            });

            $('#tictactoe-button').click(function() {
                window.location.href = "{% url 'tictactoe_game_view' %}";
            });

            $('#typing-button').click(function() {
                window.location.href = "{% url 'typing_game_view' %}";
            });

            $('#flappy-button').click(function() {
                window.location.href = "{% url 'flappy_game_view' %}";
            });

            $('#pacman-button').click(function() {
                window.location.href = "{% url 'pacman_game_view' %}";
            });

            $('#connect-button').click(function() {
                window.location.href = "{% url 'connect_game_view' %}";
            });

            $('#go-back-button').click(function() {
                window.location.href = "{% url 'index' %}";
            });

            $('.logo').click(function() {
                window.location.href = "{% url 'index' %}";
            });

            $('#game-search').on('input', function() {
                const searchText = $(this).val().toLowerCase();
                $('.retro-btn').each(function() {
                    const gameName = $(this).text().toLowerCase();
                    if (gameName.includes(searchText)) {
                        $(this).addClass('highlight');
                    } else {
                        $(this).removeClass('highlight');
                    }
                });
            });
        });
    </script>
</body>
</html>