<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Join</h1>
            <a href="{% url 'index' %}"><i class="fa-solid fa-arrow-right-from-bracket fa-2x" style="color: #76ff05; size:15px"></i></a>
        </div>
        <form method="post" action="{% url 'join' %}">
            {% csrf_token %}
            <div class="input-group">
                {{ form.username.label_tag }}  <!-- ID 레이블 표시 -->
                {{ form.username }}            <!-- ID 입력 필드 -->
            </div>
            <div class="input-group">
                {{ form.password.label_tag }}  <!-- Password 레이블 표시 -->
                {{ form.password }}            <!-- Password 입력 필드 -->
            </div>
            <button type="submit" id="memberJoin">Join Member</button>
        </form>
    </div>
</body>
</html>
